<h1> Update Custommer</h1>
<form action="/update" method="POST">
    Id: <input type="text" name="id" value="<%= Custommer4s.id%>"><br>
    IdDistrict: <input type="text" name="IdDistrict" value="<%= Custommer4s.IdDistrict%>"><br>
    IdVillage: <input type="text" name="IdVillage" value="<%= Custommer4s.IdVillage%>"><br>
    Address: <input type="text" name="Address" value="<%= Custommer4s.Address%>"><br>
    BankName: <input type="text" name="BankName" value="<%= Custommer4s.BankName%>"><br>
    BranchName: <input type="text" name="BranchName" value="<%= Custommer4s.BranchName%>"><br>
    <button type="submit">Update Custommer</button>
</form>